@charset "UTF-8";
:root {
  --logo-accent-color: #2196f3;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --primary-white-color: #ffffff;
  --contact-footer: rgba(255, 255, 255, 0.6);
  --button-color: #f5f4fa;
  --footer-color: #2f303a;
  --footer-background-color: #2f303a;
  --primary-icon-color: #afb1b8;
  --background-color-header: #ececec;
  --shadow-photo: rgba(0, 0, 0, 0.25);
  --background-color-photo: rgba(47, 48, 58, 0.8);
  --border-color: rgba(0, 0, 0, 1);
  --box-shadow: -0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  --card-link-border-color: rgba(238, 238, 238, 1);
  --box-shadow-card: 1px 4px 6px rgba(0, 0, 0, 0.16),
    -0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
  --backdrop-background-color: rgba(0, 0, 0, 0.1);
  --shadow-filter: 0px 2px 2px rgba(0, 0, 0, 0.12),
    -0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
  --shadow-btn: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --main-font-size: 14px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

/* сброс стилей */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: var(--main-font-size);
  padding-top: 80px;
}

.header__logo {
  color: var(--title-text-color);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.header__label {
  color: var(--logo-accent-color);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .header__logo,
  .header__label {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 767px) {
  .header__logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-background-color);
  z-index: 2;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 41px;
  padding-right: 39px;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  background-color: white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: var(--box-shadow);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
  fill: currentColor;
  display: block;
  align-items: center;
  justify-content: center;
}

.button-close {
  position: absolute;
  display: flex;
  padding: 0;
  left: 490px;
  top: 8px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-color: var(--backdrop-background-color);
  border-radius: 50%;
  border-width: 1px;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover, .button-close:focus {
  color: var(--logo-accent-color);
}

.modal-header {
  margin-bottom: 12px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.form {
  width: 448px;
  margin-left: auto;
  margin-right: auto;
}

.modal-form-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-label {
  font-size: 12px;
  line-height: 1.17;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.modal-form-input {
  width: 100%;
  padding: 12px;
  padding-left: 42px;
  margin-top: 4px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus ~ .modal-icon {
  fill: var(--logo-accent-color);
}

.modal-form-input:focus {
  border-color: var(--logo-accent-color);
  outline: none;
}

.modal-form-wrapper {
  position: relative;
  display: block;
}

.checkbox {
  width: 16px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
}

.checkbox:checked + .agreement-text::before {
  background-image: url(../images5/icon-check.svg);
  background-color: var(--logo-accent-color);
  border-color: var(--logo-accent-color);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
}

.modal-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment:focus {
  border-color: var(--logo-accent-color);
  outline: none;
}

form textarea {
  margin-top: 4px;
  border-width: 1px;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  height: 120px;
}

form textarea:focus {
  outline: none;
  border-color: var(--logo-accent-color);
}

.comment-label {
  margin-bottom: 20px;
}

.text-comment {
  padding: 12px 16px;
}

.text-comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.checkbox-agreement:hover .agreement-text::before,
.checkbox-agreement:focus .agreement-text::before {
  border-color: var(--logo-accent-color);
}

.agreement-text {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
  padding-left: 8.38px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.03em;
  justify-content: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.agreement-text::before {
  content: "";
  display: block;
  width: 16px;
  height: 15px;
  border: 2px solid #303030;
  cursor: pointer;
  border-radius: 2px;
  margin-right: 7px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-agreement {
  display: flex;
  align-items: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.agreement {
  color: var(--logo-accent-color);
}

.submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 56px;
  padding-right: 55px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--logo-accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 4px 4px var(--shadow-photo);
  border-radius: 4px;
  border: none;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.06em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-btn:hover, .submit-btn:focus {
  background-color: #188ce8;
}

.social-link {
  display: flex;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  color: var(--primary-icon-color);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover, .social-link:focus {
  background-color: var(--logo-accent-color);
  color: var(--primary-white-color);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.social-icon {
  fill: currentColor;
}

.button-hero {
  padding: 10px 32px;
  color: var(--primary-white-color);
  background-color: var(--logo-accent-color);
  font-family: inherit;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  font-weight: 700;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.social-footer-link {
  display: flex;
  padding: 0;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-footer-link:hover, .social-footer-link:focus {
  background-color: var(--logo-accent-color);
}

.social-footer-icon {
  fill: var(--primary-white-color);
  justify-content: center;
  align-items: center;
}

.form-footer {
  width: 570px;
  height: 86px;
}

.footer-form-subscribe {
  margin-left: 93px;
}

.form-footer {
  display: flex;
  justify-content: space-between;
}

.form-footer-head {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 00.03em;
  color: var(--primary-white-color);
  text-transform: uppercase;
}

.form-footer input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: inherit;
  color: var(--primary-white-color);
}

.subscribe-btn {
  position: relative;
  display: flex;
  align-items: center;
  min-width: 200px;
  height: 50px;
  padding: 10px 29px;
  border-radius: 4px;
  margin-left: 12px;
  border-color: transparent;
  background-color: var(--logo-accent-color);
  color: var(--primary-white-color);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;
  cursor: pointer;
  line-height: 1.88;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover, .subscribe-btn:focus {
  box-shadow: var(--shadow-btn);
}

.form-footer-icon {
  position: absolute;
  margin-left: 10px;
  top: 50%;
  transform: translateY(-50%);
  right: 13px;
}

.current-filter {
  padding: 6px 22px;
  color: var(--title-text-color);
  background-color: var(--button-color);
  text-align: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current-filter:hover, .current-filter:focus {
  color: var(--primary-white-color);
  background-color: var(--logo-accent-color);
  box-shadow: var(--shadow-filter);
}

.active-btn {
  color: var(--primary-white-color);
  background-color: var(--logo-accent-color);
  box-shadow: var(--shadow-filter);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.active-btn:hover, .active-btn:focus {
  box-shadow: var(--shadow-btn);
}

.filter-button + .filter-button {
  margin-left: 8px;
}

.filter-list {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
  justify-content: center;
  list-style: none;
  letter-spacing: 0.03em;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--primary-white-color);
  border-bottom: 1px solid var(--background-color-header);
  z-index: 1;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 0;
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  .header__container {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.menu-nav {
  display: flex;
  list-style: none;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.02em;
  flex-direction: column;
  justify-content: flex-start;
}

@media screen and (min-width: 768px) {
  .menu-nav {
    flex-direction: row;
    justify-content: flex-start;
  }
}

.header__list {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav-link {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .header-contact {
    display: inline;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .header-contact {
    display: flex;
    margin-left: auto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.header__burger-button {
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  width: 40px;
  height: 40px;
  border: none;
  line-height: 0;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__burger-button:hover .header__burger-icon,
.header__burger-button:focus .header__burger-icon {
  fill: var(--logo-accent-color);
}

@media screen and (min-width: 768px) {
  .header__burger-button {
    display: none;
  }
}

.header__burger-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 0;
  line-height: 0;
  width: 40px;
  height: 40px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__burger-close-btn:hover .header__burger-close-icon,
.header__burger-close-btn:focus .header__burger-close-icon {
  fill: var(--logo-accent-color);
}

.header__burger-icon,
.header__burger-close-icon {
  width: 40px;
  height: 40px;
  color: currentColor;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__mobile-menu {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background-color: var(--primary-white-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: opacity 250ms linear, visibility 250ms linear;
}

.header__mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: auto;
}

.header__menu-contact {
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .header__menu-contact {
    display: inline;
  }
}

@media screen and (min-width: 1200px) {
  .header__menu-contact {
    display: flex;
  }
}

.header__mobile-menu-list {
  flex-direction: column;
  margin-bottom: 64px;
}

.header__mobile-item--tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
}

.header__mobile-contact--tel {
  color: var(--logo-accent-color);
  text-decoration: none;
}

.header__mobile-item--email {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
}

.header__mobile-contact--email {
  color: var(--primary-text-color);
  text-decoration: none;
}

.header__social-list {
  display: flex;
}

.header__social-item {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  padding-right: 10px;
}

.header__social-item:not(:last-of-type) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.header__social-item:not(:first-child) {
  padding-left: 10px;
}

.header__social-link {
  color: var(--logo-accent-color);
  text-decoration: none;
}

.header__link,
.header__link--current {
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .header__item + .header__item {
    margin-left: 30px;
  }
}

@media screen and (min-width: 768px) {
  .nav-item:not(:first-child) {
    margin-left: 50px;
  }
}

.header__link {
  display: block;
  padding-bottom: 32px;
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link:hover, .header__link:focus {
  color: var(--logo-accent-color);
}

@media screen and (min-width: 768px) {
  .header__link {
    padding-top: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
}

.header__link--current {
  padding-bottom: 32px;
  display: block;
  position: relative;
  color: var(--logo-accent-color);
  text-decoration: none;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .header__link--current {
    padding-bottom: 0;
    font-weight: 500;
    font-size: var(--main-font-size);
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 768px) {
  .header__link--current::after {
    position: absolute;
    top: 45px;
    left: 0;
    content: " ";
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
  }
}

.header__contact {
  display: flex;
  align-items: center;
  padding-top: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__contact:hover, .header__contact:focus {
  color: var(--logo-accent-color);
}

.header__contact:hover .header__icon,
.header__contact:focus .header__icon {
  fill: var(--logo-accent-color);
}

.header__icon {
  fill: currentColor;
  vertical-align: middle;
  margin-right: 8px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .header__icon {
    margin-right: 10px;
  }
}

.hero-title {
  margin-bottom: 30px;
  color: var(--primary-white-color);
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 00.06em;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero-background {
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  max-width: 468px;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images6/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--footer-background-color);
}

@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-background {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images6/hero2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero-background {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images6/hero-tablet.jpg");
    max-width: 768px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-background {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images6/hero-tablet2x.jpg");
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-background {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images6/hero-desktop.jpg");
    max-width: 1200px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-background {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images6/hero-desktop2x.jpg");
    max-width: 1200px;
  }
}

.about-team {
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .about-team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  line-height: 1.17;
  font-size: var(--main-font-size);
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .section-title {
    text-align: start;
  }
}

.adv-flex {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .adv-flex {
    flex-wrap: wrap;
    flex-direction: row;
    margin-right: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .adv-flex {
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
  }
}

.desc-item {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .desc-item:nth-child(2n) {
    margin-left: 30px;
  }
}

@media screen and (min-width: 768px) {
  .desc-item {
    flex-basis: calc(100% / 2 - 30px);
    margin-right: 0;
    margin-left: 0;
  }
}

.desc-list {
  font-size: var(--main-font-size);
  line-height: 1.71;
  list-style: none;
  letter-spacing: 0.03em;
}

.adv-bg {
  display: flex;
  height: 120px;
  background-color: var(--button-color);
  margin-bottom: 30px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}

.adv-icon {
  display: block;
}

.section-title {
  margin-bottom: 10px;
}

@media screen and (min-width: 1200px) {
  .desc-item + .desc-item {
    margin-left: 30px;
  }
}

.photo-section {
  padding-bottom: 94px;
}

@media screen and (max-width: 1200px) {
  .photo-section {
    display: none;
  }
}

.photo-flex {
  display: flex;
}

.img-item + .img-item {
  margin-left: 30px;
}

.img-item {
  position: relative;
}

.photo-desc {
  position: absolute;
  display: flex;
  top: 224px;
  left: 0;
  height: 70px;
  width: 100%;
  background-color: var(--background-color-photo);
  box-shadow: 0px 4px 4px var(--shadow-photo);
  border-width: 1px;
  border-color: var(--border-color);
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: var(--primary-white-color);
}

.header-text {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  margin-bottom: 50px;
  color: var(--title-text-color);
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list {
  display: flex;
  flex-direction: column;
}

.team-div {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.team-info {
  background-color: var(--primary-white-color);
  box-shadow: var(--box-shadow);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

@media screen and (min-width: 768px) {
  .team-info:not(:last-child) {
    margin-bottom: 30px;
  }
}

.name-team {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-background {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--button-color);
  letter-spacing: 0.03em;
  display: block;
}

.position {
  font-size: 16px;
  line-height: 1.17;
  margin-bottom: 16px;
}

.social-item + .social-item {
  margin-left: 10px;
}

.clients {
  padding-bottom: 94px;
  padding-top: 94px;
}

.clients-list {
  display: flex;
}

.clients-header {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  margin-bottom: 50px;
  letter-spacing: 3%;
  color: var(--title-text-color);
  text-align: center;
}

.clients-item + .clients-item {
  margin-left: 30px;
}

.clients-item {
  width: 170px;
  height: 92px;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid var(--primary-icon-color);
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item:hover, .clients-item:focus {
  border-color: var(--logo-accent-color);
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--primary-icon-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover, .clients-link:focus {
  color: var(--logo-accent-color);
}

.clients-icon {
  fill: currentColor;
}

.footer-nav {
  text-align: left;
}

.adr-soc {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.footer-header {
  margin-bottom: 20px;
  padding-top: 0px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  color: var(--primary-white-color);
  font-size: var(--main-font-size);
  line-height: 1.14;
  text-align: left;
}

.footer-right {
  text-align: center;
}

.footer-link {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-background-color);
  text-decoration: none;
  letter-spacing: 0.03em;
}

.address-footer {
  color: var(--primary-white-color);
  text-decoration: none;
  font-style: normal;
}

.contact-footer {
  color: var(--contact-footer);
  text-decoration: none;
  font-style: normal;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-footer:hover, .contact-footer:focus {
  color: var(--logo-accent-color);
}

.footer-logo {
  color: var(--primary-white-color);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.17;
}

.link-logo-footer {
  margin-bottom: 20px;
  display: block;
  color: var(--logo-accent-color);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.17;
}

.footer-list {
  list-style: none;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address-footer {
  margin-bottom: 9px;
}

.mail-footer {
  margin-bottom: 9px;
}

.footer-right {
  margin-left: 70px;
}

.social-footer {
  display: flex;
  flex-direction: row;
}

.social-footer-item + .social-footer-item {
  margin-left: 10px;
}

.team-works {
  padding-top: 94px;
  padding-bottom: 94px;
}

.project-name-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.project-link {
  display: block;
  text-decoration: none;
  color: var(--primary-text-color);
  border-color: var(--card-link-border-color);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover .card-text,
.project-link:focus .card-text {
  pointer-events: auto;
  transform: translateY(-100%);
}

.project-link:hover .text-project,
.project-link:focus .text-project {
  box-shadow: var(--box-shadow-card);
}

.card-text {
  position: absolute;
  top: 100%;
  height: 100%;
  padding: 63px 24px;
  line-height: 1.56;
  text-align: left;
  justify-content: center;
  font-size: 18px;
  color: var(--primary-white-color);
  background-color: var(--logo-accent-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay {
  position: relative;
  display: flex;
  overflow: hidden;
}

.team-works {
  padding-top: 94px;
  padding-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
}

.project-name-list > .project-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.project-name-list {
  list-style: none;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.03em;
}

.text-project {
  padding: 20px 24px;
  border-width: 1px;
  border-color: var(--card-link-border-color);
  border-style: solid;
  border-top: 0;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-name {
  color: var(--title-text-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}
/*# sourceMappingURL=main.css.map */