// UTILS
@import "./utils/variables";
@import "./utils/_vissually-hidden";

// BASE
@import "./base/common";

// COMPONENTS
@import "./components/logo";
@import "./components/backdrop";
@import "./components/modal";
@import "./components/modal-form";
@import "./components/social-link";
@import "./components/button-hero";
@import "./components/container";
@import "./components/social-footer-link";
@import "./components/form-footer";
@import "./components/filter";
// LAYOUT
@import "./layout/header";
@import "./layout/hero";
@import "./layout/advantages";
@import "./layout/photo-section";
@import "./layout/team-div";
@import "./layout/clients";
@import "./layout/footer";
@import "./layout/team-works";
