// .about-team {
//   padding-top: 94px;
//   padding-bottom: 94px;
// }

.about-team {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  line-height: 1.17;
  font-size: var(--main-font-size);
  text-transform: uppercase;
  text-align: center;
}

.adv-flex {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    flex-direction: row;
  }
}

.desc-list {
  font-size: var(--main-font-size);
  line-height: 1.71;
  list-style: none;
  letter-spacing: 0.03em;
}

.desc-item {
  width: 100%;
  // width: 270px;

  @media screen and (min-width: 768px) {
    width: 251px;
  }
}

.adv-bg {
  display: flex;
  height: 120px;
  background-color: var(--button-color);
  margin-bottom: 30px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}

.adv-icon {
  display: block;
}

.section-title {
  margin-bottom: 10px;
}

.desc-item {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .desc-item:not(:first-child) {
    margin-left: 30px;
    margin-right: 0;
  }
}

// .desc-item + .desc-item {
//   margin-left: 30px;
// }
