.team-list {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .team-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
}

.team-div {
  padding: 30px 32px;
  text-align: center;
}

.team-info {
  background-color: var(--primary-white-color);
  box-shadow: var(--box-shadow);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

@media screen and (max-width: 768px) {
  .team-info:not(:last-child) {
    margin-bottom: 30px;
  }
}

.name-team {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 00.03em;
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-background {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--button-color);
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .team-background {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.position {
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.social-item {
  width: 44px;
  height: 44px;
}

.social-item + .social-item {
  margin-left: 10px;
}

.team-item {
  color: var(--primary-text-color);
  margin-bottom: 30px;
  text-align: center;
}

@media sreen and (min-width: 480px) and (max-width: 1200px) {
  .team__item {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #212121;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}
