:root {
  --logo-accent-color: #2196f3;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --primary-white-color: #ffffff;
  --contact-footer: rgba(255, 255, 255, 0.6);
  --button-color: #f5f4fa;
  --footer-color: #2f303a;
  --footer-background-color: #2f303a;
  --primary-icon-color: #afb1b8;
  --background-color-header: #ececec;
  --shadow-photo: rgba(0, 0, 0, 0.25);
  --background-color-photo: rgba(47, 48, 58, 0.8);
  --border-color: rgba(0, 0, 0, 1);
  --box-shadow: -0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  --card-link-border-color: rgba(238, 238, 238, 1);
  --box-shadow-card: 1px 4px 6px rgba(0, 0, 0, 0.16),
    -0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
  --backdrop-background-color: rgba(0, 0, 0, 0.1);
  --shadow-filter: 0px 2px 2px rgba(0, 0, 0, 0.12),
    -0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);

  --shadow-btn: 0px 4px 4px rgba(0, 0, 0, 0.15);

  --main-font-size: 14px;
}

@mixin font() {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
}
